<header>
	<div data-localizer></div>
	<div>
		<h1>{{texts.bankName[language]}}</h1>
	</div>
	<div>
		<h2>
			<small>{{texts.bankDescription[language]}}</small>
		</h2>
	</div>
</header>
<article>
	<section>
		<aside>
			<h3>{{texts.transfer.overview[language]}}</h3>
		</aside>
		<div>
			<h3>
				<small>{{texts.transfer.enterAmount[language]}}</small>
			</h3>
		</div>
		<div data-ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
		<div>
			<form class="form-horizontal" data-ng-submit="confirmTransfer()" data-ng-model="amount" name="amount">
				<div class="form-group">
					<label for="value" class="col-sm-5 control-label">{{texts.transfer.amountValue[language]}}
						(*)</label>
					<div class="col-sm-7">
						<input type="text" data-ng-pattern="validAmountRegexp" class="form-control" required="required"
							data-ng-model="amount.value" id="value" name="value"/>
					</div>
				</div>
				<div class="form-group">
					<label for="value" class="col-sm-5 control-label">{{texts.transfer.amountMail[language]}}
						(*)</label>
					<div class="col-sm-7">
						<input type="email" class="form-control" required="required"
							data-ng-model="amount.email" id="email"/>
					</div>
				</div>
				<div class="form-group">
					<label for="value" class="col-sm-5 control-label">{{texts.transfer.amountComments[language]}}</label>
					<div class="col-sm-7">
						<textarea class="form-control" data-ng-model="amount.comments" id="comments"></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-6 text-right">
						<input type="button" class="btn btn-warning btn-sm"
							data-ng-click="cancelAmount()" id="cancel" value="{{texts.controlPanelButtons.cancel[language]}}">
					</div>
					<div class="col-md-6 text-left">
						<input type="submit" id="next" class="btn btn-primary btn-sm" value="{{texts.controlPanelButtons.next[language]}}">
					</div>
				</div>
			</form>
		</div>
	</section>
</article>
<footer> </footer>


