<header>
	<div class="pull-right">
		<button class="btn btn-default btn-xs">EN</button>
		<button class="btn btn-default btn-xs active">ES</button>
	</div>
	<div><h1>{{texts.bankName[language]}}</h1></div>
	<div><h2><small>{{texts.bankDescription[language]}}</small></h2></div>	
</header>
<article>
	<section>
		<aside><h3>{{texts.accountOverview.title[language]}}</h3></aside>
		<div>
			<h3><small>{{texts.transfer.selectAccount[language]}}</small></h3>
		</div>
		<div data-ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
		<div>
			<table class="table table-condensed table-hover">
				<tr>
					<td></td>
					<td data-ng-repeat="headers in texts.accountOverview.columns">{{headers[language]}}</td>
				</tr>
				<tr data-ng-repeat="account in accounts">
					<td><input type="radio" name="accounts" id="{{'accounts' + $index}}" data-ng-click="selectAccount(account.number)"></td>
					<td>{{account.number}}</td>
					<td>{{account.type}}</td>
					<td>{{account.currency}}</td>
					<td>{{account.available | currency}}</td>
				</tr>
			</table>
		</div>
	</section>
	<section>
		<div class="row">		
			<div class="col-md-6 text-right">
				<a class="btn btn-warning btn-sm" href="#/transfer">{{texts.controlPanelButtons.cancel[language]}}</a>
			</div>
			<div class="col-md-6 text-left">
				<a class="btn btn-primary btn-sm" data-ng-click="startTransfer()">{{texts.controlPanelButtons.next[language]}}</a>
			</div>
		</div>
	</section>
</article>
<footer>
</footer>


