<header>
	<!-- 
	<div class="pull-right">
		<button class="btn btn-default btn-xs" data-ng-click="localize('EN')">EN</button>
		<button class="btn btn-default btn-xs active">ES</button>
	</div>
	 -->
	 <div data-localizer></div>
	<div><h1>{{texts.bankName[language]}}</h1></div>
	<div><h2><small>{{texts.bankDescription[language]}}</small></h2></div>	
</header>
<article>
	<aside><h3>{{texts.userOverview[language]}}</h3></aside>
	<section class="user-data-overview">
		<div>
			<span id="userName">{{userData.name}}</span>
		</div>
		<div>			
			<span>{{userData.address.join(', ')}}</span>
			<div class="help-block">
				<span>{{texts.bankOffice[language]}}</span>: <span id="userOffice">{{userData.office}}</span>
			</div>
		</div>
	</section>
	<section>
		<aside><h3>{{texts.accountOverview.title[language]}}</h3></aside>
		<div>
			<table class="table table-condensed">
				<tr>
					<td data-ng-repeat="headers in texts.accountOverview.columns">{{headers[language]}}</td>
				</tr>
				<tr data-ng-repeat="account in accounts">
					<td>{{account.number}}</td>
					<td>{{account.type}}</td>
					<td>{{account.currency}}</td>
					<td>{{account.available | currency}}</td>
				</tr>
			</table>
		</div>
	</section>
	<section>
		<aside><h3>{{texts.ccOverview.title[language]}}</h3></aside>
		<div>
			<table class="table table-condensed">
				<tr>
					<td data-ng-repeat="headers in texts.ccOverview.columns">{{headers[language]}}</td>
				</tr>
				<tr data-ng-repeat="cc in creditCards">
					<td>{{cc.number}}</td>
					<td>{{cc.type}}</td>
					<td>{{(cc.available | currency) + ' ' + cc.currency}}</td>
				</tr>
			</table>
		</div>
	</section>
	<section>
		<div class="row">
			<div class="col-md-12 text-left">
				<h4><small>{{texts.controlPanel[language]}}</small></h4>
			</div>
		</div>
		<div class="row">		
			<div class="col-md-4">
				<a class="btn btn-default btn-xs btn-block" href="#/transfer/origin" id="transfer">{{texts.controlPanelButtons.transfer[language]}}</a>
			</div>
			<div class="col-md-4">
				<a class="btn btn-default btn-xs btn-block">{{texts.controlPanelButtons.services[language]}}</a>
			</div>
			<div class="col-md-4">
				<a class="btn btn-default btn-xs btn-block">{{texts.controlPanelButtons.accounts[language]}}</a>
			</div>
		</div>
	</section>
</article>
<footer>
</footer>


